$maxicon-path: "./fonts" !default;

@font-face {
	font-family: "MaxIcon";
	src: url("#{$maxicon-path}/MaxIcon.eot?fev0pa");
	src: url("#{$maxicon-path}/MaxIcon.eot?fev0pa#iefix") format("embedded-opentype"),
	     url("#{$maxicon-path}/MaxIcon.ttf?fev0pa") format("truetype"),
	     url("#{$maxicon-path}/MaxIcon.woff?fev0pa") format("woff"),
	     url("#{$maxicon-path}/MaxIcon.svg?fev0pa#MaxIcon") format("svg");
	font-weight: normal;
	font-style: normal;
}

.maxicon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "MaxIcon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icons: (
	"arrow"           : "\e900",
	"arrow-borderless": "\e901",
	"arrow-open"      : "\e902"
);

@each $key, $value in $icons {
	.maxicon-#{$key}:before {
		content: $value;
	}

	*:hover {
		&.maxicon-on-hover-#{$key}, & > .maxicon-on-hover-#{$key} {
			@extend .maxicon-#{$key};
		}
	}
}
